<!--
#Листинг 4.6: Home-страница без индивидуального заголовка страницы. ЗЕЛЕНЫЙ app/views/static_pages/home.html.erb
Листинг 5.2: Home-страница со ссылкой на страницу регистрации. app/views/static_pages/home.html.erb 
Листинг 5.20: Представление для Contact-страницы. ЗЕЛЕНЫЙ app/views/static_pages/contact.html.erb -->

<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact (38)095-403-68-16
  <a href="http://www.railstutorial.org/#contact">contact page</a>.
</p>
