#Листинг 5.31:Листинг 
5.35: Начальная страница регистрации (заглушка). app/views/users/new.html.erb

<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<p>This will be a signup page for new users.</p>

